#Dashboard{
 max-height: 150px;
 max-width: 75%;
 overflow: visible !important;
}
#weeklyRevenue{
    max-height: 150px;
}
.graphcontainer,.Revenue{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 100%;
}
.graphcontainer .header i,.Revenue .header i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f4f7fe ;
    color: #4318ff ;
    padding: 0 15px;
    height: 40px;
    width: 40px;
    border-radius: 15px;
}
.graphcontainer .header p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f4f7fe ;
    color: #a3aed0 !important;
    padding: 10px 12px 10px 5px;
    height: 40px;
    border-radius: 15px;
    margin: 0;
    font-size: 14px;
}
.graphcontainer .header p i{
    background-color:#f4f7fe ;
    color: #a3aed0 ;
    padding: 0;
}
.graphcontainer .body p{
    color: #a3aed0 !important;
font-size: 12px;
margin: 0;
}

.graphcontainer .body span{
    color: #05cd99;
font-size: 10px;
margin: 0;
font-weight: 500;
}

.p ,p{
  white-space: nowrap;        /* keep text on one line */
  overflow: hidden;           /* hide overflowing text */
  text-overflow: ellipsis;    /* add the dots (…) */
}
body{
    background-color: #f3f7fe;
}
.sidebar{
    padding: 0 0 20px 0;
    background-color: white;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 250px;
    justify-content: space-between;
}
.sidebarcontainer{
    width: 270px;
}
.grayline{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.068);
}
.sidebar .imgcontainer{
    max-width: 80%;
    padding: 35px 25px 35px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .imgcontainer img{
width: 100%;
height: auto;
}
ul {
    list-style: none;
    padding: 30px 0 30px 30px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 13px;
    width: 100%;
}
li{
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: 0.5;
    cursor: pointer;
}
.sidebar ul .active{
opacity: 1;
font-weight: 600;
border-right: 3px solid #4318ff;
}
.sidebar .active i{

color: #4318ff;
}
.colormain{
    color: #253774;
}
.section{
    display: none;
}
.section.active{
    display: flex;
    flex-direction: column;
}
#content{
    padding: 20px 20px 20px 50px;
    width: 100%;
    overflow-y: auto;
}
.section .sectionhead{
    width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.getpro{
    cursor: pointer;
    max-width: 100%;
}
.section .sectionhead p,.section .sectionhead h1{
margin: 0;
}
.section .sectionhead p{
    font-size: 13px;
}
.searchcontainer{
    background-color: white;
    padding: 8px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.searchcontainer img{
    max-height: 25px;
}
.inputcontainer input{
    border: none;
background-color: #f3f7fe;
height: 25px;
}
.inputcontainer input:active,.inputcontainer input:focus{
    outline: none;
}
.inputcontainer{
    background-color: #f3f7fe;
font-size: 12px;
    padding: 5px 15px;
    border-radius: 50px;
}
.balancecontainer{
    background-color: #f3f7fe;
    padding: 5px 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    gap: 5px;
}

.nftmarketbannercontent{
    padding: 45px;
    height: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nftmarketbannercontent h4{
    font-size:  clamp(14px, 2vw + 10px, 25px);
}
.nftmarketbannercontent p{
  font-size: clamp(1px, 2vw, 12px);
}
.nftmarketbannercontent .buttoncontainer{
        font-size: 13px;
}
.nftmarketbannercontent .buttoncontainer button{
    border: none;
    background-color: inherit;
            font-weight: 500;
padding: 13px 20px;
}
.buttonwhitebg{
    border-radius: 15px;

}
.filter{
    padding: 5px;
    color: #4d25fd;
    font-weight: 600;
    cursor: pointer;
}
.filter.active{
    background-color: white;
    border-radius: 50px;
    padding: 5px 15px;
}
.nftscontainer .nft{
    background-color: white;
    padding: 25px 15px;
    border-radius: 18px;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.nftscontainer .nft img{
    max-width: 100%;
    border-radius: 16px;
    min-width: 100%;
}
.nftscontainer .nft p{
    margin: 0;
}
.nftscontainer{
    height: 100%;
}
.nftscontainer .nft button{
    border: none;
    background-color: #0b0479;
    color: white;
    padding: 5px 15px;
    font-weight: 500;
    border-radius: 50px;
    font-size: 13px;
}
.textgray{
    color: #6b7fae;
}
.button{
    color: #4018fd;
    background-color: #f2f6fd;
    padding: 5px 10px;
    border-radius: 25px;
    font-weight: 500;
}
.topcreators{
    background-color: white;
border-radius: 15px;
flex-grow: 1;
}
.topcreators .header{
    padding: 20px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
      box-shadow: 0 4px 40px rgba(0, 0, 0, 0.085);

}
.topcreators .header p{
margin-bottom: 5px;
}
.topcreators .body{
    padding: 15px 15px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.topcreators .body p{
    color: #9faed0;
    margin: 0;
}
.topcreators .header p{
    color: #9faed0;
    font-weight: 500;
}
.creator{
    display: flex;
    align-items: center;
}
.creatorname{
    width: 50%;
    font-weight: 500;
    color: #253774;
}
.rating{
    height: 10px;
    width: 20%;
    border-radius: 50px;
    background-color: #edf4fb;
}
.rating .indicator{
    background-color: #4017fd;
    height: 100%;
        border-radius: 50px;
}

.History{
background-color: white;
border-radius: 15px;
padding: 20px;
flex-grow: 1;
display: flex;
flex-direction: column;
gap: 20px;
}

.History .nft{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease all;
}

.History .nft p{
margin: 0;
}
.history .nft .imgcontainer{
    width: 50%;
}

.History .nft:hover{
      box-shadow: 0 4px 40px rgba(0, 0, 0, 0.085);
      border-radius: 15px;
      
}
.navv{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 30px;
    width: 100%;
}
footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: rgb(185, 185, 185);
    font-size: 12px;
    font-weight: 500;
}

footer ul{
    display: flex;
  flex-direction: row;
  width: auto;
  padding: 0;
  margin: 0;
}

.fav{
    position: absolute;
    top: 10px;
    display: flex;
    right: 10px;
 max-width: 20%;
}

.nft .avatarscontainer img{
  min-width: inherit;
  min-height: inherit;
  height: 100%;
}
.moreavatars{
    background-color: #dfe6f2;
    border-radius: 100%;
    font-size: 10px;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 3px solid white;
    color: #4017fd;
    font-weight: bolder;
}
.stat-card{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.stat-card p{
  color: #a3aed0;
  font-weight: 500;
  margin: 0;
  font-size: 13px;
}

.stat-card h5{
  font-weight: 700;
}
.stat-card i{ 
color: #4318ff;
background-color: #f4f7fe;
padding: 15px;
font-size: 25px;
border-radius: 50px;
}
.stat-card.tasks i{ 
color: white;
background: linear-gradient(to right ,#4482eb ,#04befe);
padding: 15px;
font-size: 25px;
border-radius: 50px;
}

.stat-card span{ 
color: #33d6ac;
font-weight: bolder;
}
.dropdown button{
    border: 0;
    background-color: inherit;
}
@media (max-width: 1600px) {
.History .nft{
    font-size: 12px;
    padding: 7px 20px;
}

.nftscontainer .nft p {
font-size: 12px;
}


}
@media (max-width: 1500px) {
.nftscontainer .nft{
    font-size: 11px;
}
.History{
    gap: 0px;
}

.History .nft{
    font-size: 10px;
    padding: 5px;
    margin-top: 5px;
}

.creatorname{
    font-size: 12px;
}
.topcreators .header,.w-25{
    font-size: 10px;
}
.rating{
    height: 5px;
}
   .History .imgcontainer img{
        width: 60px;
    }
}

@media (max-width: 1400px) {
    .filter{
        font-size: 12px;
    }
.nftscontainer .nft{
    padding: 15px 10px;
}
.nftscontainer .nft p {
font-size: 11px;
}
.nftscontainer .nft button{
    font-size: 10px;
}

.History .header{
    font-size: 12px;
}
   .History .imgcontainer img{
        width: 60px;
    }

 


}

@media (max-width: 1300px) {
    
        .imgcontainer p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 85%; /* ensure it knows its limit */
}

    .creatorname img{
        max-width: 20px;
        max-height: 20px;
    }
    .nftmarketbannercontent h4{
        font-size: 20px;
    }
    .nftmarketbannercontent .buttoncontainer button {
    padding: 10px 15px;
    }
    .fav{
    position: absolute;
    top: 10px;
    display: flex;
    right: 10px;
 max-width: 15%;
}
    .filter{
        font-size: 11px;
    }
.nftscontainer .nft{
    padding: 15px 10px;
}
.nftscontainer .nft p {
font-size: 9px;
}
.nftscontainer .nft button{
    font-size: 8px;
}
.creatorname{
    font-size: 10px;
}
   .History .imgcontainer img{
        width: 55px;
    }

    
}

@media (max-width : 1200px) {

 .filter{
    font-size: 10px;
 }
  .nftscontainer h5{
    font-size: 15px;
  }
    .horizontal{
        max-width: 70px !important;
    }
    .sidebar{
        width: 200px;
    }
    .sidebarcontainer{
        width: 220px;
    }
       .History .imgcontainer img{
        width: 40px;
    }
}

@media (max-width : 1100px) {
  
    .History .imgcontainer img{
        width: 40px;
    }
    .History .nft{
        font-size: 7px;
    }
    .nftscontainer .nft p{
font-size: 8px;
    }
 
    .horizontal{
        max-width: 50px !important;
    }
}


@media (max-width : 1060px) {
    .nftscontainer .nft p{
font-size: 7px;
    }
 .nftscontainer .nft button{
    font-size: 6px;
 }
    .horizontal{
        max-width: 50px !important;
    }
}