
:root {
  --bg: #f3f7fe;
  --text: #253774;
  --bgcomponent:white;
  --bid: #4017fd;
  --gray: #93a1c1;
    --maintext:#253774;
    --sidebarbg: #ffffff;
    --sidebarliopacity: 0.5;
    --liactiveicon:#4318ff;
    --liactiveborder: 3px solid #4017fd;
    --indicatorcolor: #4017fd;
    --horizontalborder: 3px solid white ;
    --bidbuttonbg: #0b0479;
    --buttonbg: #f2f6fd;
    --rating:#edf4fb;
    --staticon:#f3f7fe ;
    --thismonthcolor: #a3aed0 ;
--ptext: #2b3674;
--darkpurple: #0b0479;
--transparent: transparent;
--secondarybg: #f9fcfe;
--bs-table-bg:white;
--bs-body-bg:white;
--thead-border-bottom: 1px solid #e0e0e0;
--checkbox-border: solid white;
--secondary-hover:#f1f9fe;
--switchbg: #dee5f2;
--create: white;
--neutral-notification: #e5e5e5;
--error-notification: #ffedeb;
--warning-notification: #fff3e7;
--successful-notification:  #e1f8f2;
--inputs-border: 1px solid #0000002f;
--inputs-title: #0000002f;

}

[data-theme="dark"] {
  --bg: #061437;
  --text: #eee;
  --bgcomponent:#0a1c44;
  --bs-body-bg: #0a1c44;
  --bs-table-bg: #0a1c44;
  --bid: white;
  --gray:#9faed0;
  --maintext:white;
  --sidebarbg: #0a1c44;
  --sidebarliopacity: 1;
  --liactiveicon:white;
  --liactiveborder: 3px solid #7850fd;
  --horizontalborder: 3px solid #0a1c44 ;
  --indicatorcolor: #7850fd;
  --bidbuttonbg: #7850fd;
  --buttonbg: #7850fd;
  --rating:#223256;
  --staticon: #16254b;
  --thismonthcolor: white ;
  --ptext: white;
  --darkpurple:white ;
  --transparent: #16254b;
  --secondarybg: #16254b;
  --thead-border-bottom: 1px solid #253357;
  --checkbox-border: solid #061437;
  --secondary-hover:#111e40;
  --switchbg: #16254b;
  --create:#dee5f2;
  --neutral-notification:#253357 ;
  --error-notification:#253357 ;
  --warning-notification: #253357;
  --successful-notification:#253357 ;
--inputs-border: 1px solid #1f2b4b;
--inputs-title: #9faed0;
}
ul{
    list-style: none;
}

/* Remove Edge/Chrome built-in reveal icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* For WebKit browsers (Chrome, Safari, Edge Chromium) */
input[type="password"]::-webkit-password-toggle-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
}



.password{
    position: relative;
}
.password i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--inputs-title);
}
div.dt-container.dt-empty-footer tbody > tr:last-child > *{
    border-bottom: none;
}
a,a:focus,a:visited{
    color: inherit;
    text-decoration: none;
}
#Dashboard{
 max-height: 150px;
 max-width: 75%;
 height: 250px !important;
 overflow: visible !important;
}
#weeklyRevenue{
    max-height: 150px;
}
#myPieChart{
    max-height: 180px;
}
#calendar{
    width: 100%;
    padding: 10px 20px !important;
}
.piechart .label{
width: 10px;
height: 10px;
border-radius: 50%;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    background-color: var(--bgcomponent);
}
.table{
    --bs---bs-table-bg: #0a1c44;
}
.graphcontainer,.Revenue,.piechart,.checktable,.taskscontainer,.teamembers,.fingerprint,.starbucks,.lession,.calendar,.dailytraffic {
    background-color: var(--bgcomponent);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 100%;
    overflow: hidden;
}
.profilecomponent{
    background-color: var(--bgcomponent);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.secondrow .profilecomponent{

    height: 100%; 
    gap: 20px;
}
.profilecomponent h4{
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}
.profilecomponent p{
    font-weight: 500;
    color: #9faed0;
    font-size: 12px ;
  white-space: wrap;
  margin: 0;
}
.profilecomponent .info p,.profilecomponent .info h6{
    margin: 0;
}
.profilecomponent .info{ 
              box-shadow: 0 4px 20px rgba(0, 0, 0, 0.074);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: var(--transparent);
}
.notificationoption {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}

.switch{
    width: 33px;
    height: 18px;
    background-color: var(--switchbg);
    border-radius: 50px;
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: end;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease all;
}
.switch.active{
    background-color: var(--indicatorcolor);
} 
.switch.active .swtichindicator{
  left: 45%;
}
.swtichindicator{
    position: absolute;
    height: 80%;
    left: 3px;
    top: 9.5%;
    aspect-ratio: 1/1;
    border-radius: 50px;
    background-color: white;
    transition: 0.2s ease all;
}
.profilecomponent .head i {
    padding: 10px;
    background-color: var(--staticon);
    color: var(--bid);
    border-radius: 10px;
}
.profilecomponent .body i {
 display: flex;
 align-items: center;
 justify-content: center;
padding: 20px;
    background-color: var(--staticon);
    color: var(--bid);
    border-radius: 50%;
    font-size: 40px;
}

.uploadimageinputcontainer{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--bid);
    font-weight: bold;
    background-color: var(--secondarybg);
    border: dashed 1px  #e1e8f4;
    padding: 50px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease all;
}
.uploadimageinputcontainer:hover{
    background-color: var(--secondary-hover);
}
.uploadimageinputcontainer i{
    font-size: 50px;
}
.uploadimageinputcontainer input,.uploadimageinputcontainer label{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.uploadimageinputcontainer h3{
    font-size: 20px;
}
.table{
    background-color: var(--bgcomponent);
}
.lession{
    padding: 0;
}
.lession .header{
    padding: 20px;
}
.lession .header i {
    color: #ff5142;
    background-color: #ff524229;
    padding: 10px;
    border-radius: 15px;
    font-size: 22px;
}
.lession p,.lession h5{
    margin: 0;
}
.lession p{
    font-size: 12px;
    font-weight: 500;
}
.lession h5{
    font-size: 18px;
    font-weight: bold;
}
.lession .body{
    background-color: var(--secondarybg);
    padding: 20px;
}
.starbucks{
    position: relative;
}
.starbucks .iconcontainer{
    padding: 15px;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
  background: rgba(255, 255, 255, 0.182); /* semi-transparent white */
  backdrop-filter: blur(5px) saturate(100%);
  -webkit-backdrop-filter: blur(5px) saturate(1000%);
    border-radius: 15px;
    color: white;
}
.starbucks .logocontainer{
    margin-top: -35px;
}
.starbucks .logocontainer h5{
font-size: 25px;
font-weight: bold;
}
.starbucks .logocontainer p{
font-size: 15px;
font-weight: 500;
}
.fingerprint{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: left;
}
.fingerprint p{
    font-size:12px  ;
    font-weight: 500;
}
.fingerprint button{
    background-color: #4017fd;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s ease all;
    width: 100%;
}
.fingerprint button:hover{
    background-color: #6b4cf7;
 
}
.fingerprint img{
    max-width: 100px;
}
.Revenue{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Revenue p{
    font-size: 12px;
    margin: 0;
}
.Revenue sub{margin-bottom: 17px;font-size: 12px;font-weight: 500;}
.Revenue h1{margin: 0;}
.dailytraffic span{
    font-size: 12px;
    color: #05cd99;
}
.piechart .textgray{
    font-size: 12px;
    font-weight: 500;
}
.piechart i{
font-size: 10px;
}
.dailytraffic .d-flex .textgray{
    bottom: 1rem;
}
.headericon{
    display: flex;
    align-items: center;
    justify-content: center;
  color: var(--liactiveicon);
background-color: var(--staticon);
    padding: 0 15px;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
}
.lession .body button{
    background-color: #4017fd;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px 25px;
    border-radius: 15px;
}
.table{
    border-radius: 15px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.table .header{
    padding: 20px 15px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span.dt-column-order{
    display: none;
}
table.dataTable thead > tr > th.dt-orderable-asc:hover, table.dataTable thead > tr > th.dt-orderable-desc:hover, table.dataTable thead > tr > td.dt-orderable-asc:hover, table.dataTable thead > tr > td.dt-orderable-desc:hover{
    outline: none;
}
.dt-orderable-desc i{
    transition: 0.2s ease all;
opacity: 0.1;
}
.dt-ordering-asc i{
    opacity: 1;
}
.dt-ordering-desc i{
    opacity: 1;
    transform: rotate(180deg);
}
.dt-column-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

tbody tr td{
padding-left: 20px;

}
.table .body{
    display: flex;
flex-direction: column;
padding-bottom: 15px;
gap: 15px;
justify-content: space-between;
flex-grow: 1;
}
.tablerow{
display: flex;
width: 100%;
justify-content: space-between;
padding:  0px 20px ;
}
.sortable{
    height: 100%;
    background-color: var(--bgcomponent);
}
.statusicon{
    color: var(--bg) !important;
    border-radius: 50px;
    aspect-ratio: 1/1;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tablerow div p{
width: 20%;
margin: 0;
}

.tablerow .rating{
width: 60%;
}
.tablerow i{
color: #dee5f2;
}
#monthselector{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--staticon) ;
    color: var(--thismonthcolor) !important;
    padding: 10px 12px 10px 15px;
    height: 40px;
    border-radius: 15px;
    margin: 0;
    font-size: 14px;
    gap: 10px;
    border: 0;
}
.graphcontainer .header p i{
    background-color: var(--staticon) ;
    color: var(--thismonthcolor) ;
    padding: 0;
}
#monthcalendar{
    position: absolute;
    background-color: white;
    z-index: 10;
    border: 1px solid rgba(0, 0, 0, 0.116);
}
.titles{
    color:#a3aed0 ;
    font-weight: 500;
    font-size: 14px;
}
.table-responsive{
    width: 100%;
    height: 100% ;
    overflow: inherit;
}
#complextable_wrapper,#complextable{
    height: 100%;
}
tbody{
    border: none;
}
table{
    width: 100%;
}
.table{
    overflow: hidden;
}
.logcontainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--bgcomponent);
    border-radius: 15px;
    gap: 40px;
}
.logcontainer .header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.table .header h4{
    font-weight: 700;
    color: var(--text);
}
.checkitem{
    color: var(--ptext);
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}
.logcontainer .body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logcontainer .component{
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.085);
padding: 40px 40px 30px 40px;
border-radius: 15px;
display: flex;
flex-direction: column;
gap: 20px;
background-color: var(--transparent);
}
.logcontainer .component .head,.logcontainer .component .foot{
       display: flex;
       align-items: center;
       justify-content: space-between;
}
.logcontainer .component .head i{
    color: rgba(128, 128, 128, 0.587);
    cursor: pointer;
}
.signingrightside{
    border-radius: 0 0px 0px 300px;
    background-size: cover;
}
.logcontainer p{
    overflow: inherit;
    white-space: wrap;
    font-size: 14px;
    color: #9faed0;
    margin: 0;
}
.logcontainer .body h6{
    margin: 0;
}
.logcontainer .component .status {
    border: 0;
    padding: 8px 30px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
}
.profilecomponent .status{
    border: 0;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--indicatorcolor);
    color: white;
}
.profilecomponent .project { 
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.085);
display: flex;
align-items: center;
    padding: 15px 30px;
    background-color: white;
    border-radius: 15px;
    background-color: var(--transparent);
}
.profilecomponent .project i{ 
     color: #8b9bba;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 12px;
}
.profilecomponent .project img{ 
   max-width: 20%;
}
.profilecomponent .project .body{ 
padding: 10px;
}
.profilecomponent .project .body p{ 
    font-size: 10px;
margin: 0;
}
.profilecomponent .project .body p span{ 
    color: var(--bid);
  text-decoration: underline;
  cursor: pointer;
}
.profilecomponent .project .body h6{ 
font-size: 12px;
margin: 0;
}
.checkitem p { 
 margin: 0;
}
.tasks p{
    color: var(--darkpurple);
    margin: 0;
}
.tasks div{
    justify-content: center;
}
.checktable .rating{
width: 80%;
}
.tasks .status{
    display: flex;
    align-items: center;
    gap: 5px;

}
.tasks .status i{
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    width: 20px;
height: 20px;
border-radius: 50px;
}
.checkitem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 600;
}

.checkitem input[type="checkbox"],.inputs input[type="checkbox"] {
  appearance: none;       
  width: 20px;
  height: 20px;
  border: 2px solid #bbb;  
  border-radius: 6px;     
  transition: all 0.25s ease;
  cursor: pointer;
  position: relative;
  padding: 0 !important;
}

.checkitem input[type="checkbox"]:checked,.inputs input[type="checkbox"]:checked {
  border-color: #4318ff;          
  background-color: #4318ff;      
}

.checkitem input[type="checkbox"]:checked::after ,.inputs input[type="checkbox"]:checked::after{
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkitem input[type="checkbox"]:hover,.inputs input[type="checkbox"]:hover {
  border-color: #666;
}







table input[type="checkbox"] {
  appearance: none;       
  width: 20px;
  height: 20px;
  border: 2px solid #bbb;  
  border-radius: 3px;
  margin-right: 5px;     
  transition: all 0.25s ease;
  cursor: pointer;
  position: relative;
  padding: 0 !important;
}

table input[type="checkbox"]:checked{
  border-color: transparent;          
  background-color: var(--indicatorcolor);     
   
}

table input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: var(--checkbox-border);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  
}
table input[type="checkbox"]:hover,table input[type="checkbox"]:focus {
  border-color: none;
  
}







#color-calendar{
    width: 100%;
    height: 100%;
}

.setting{
    position: relative;
}
.setting i,#notificationtoggle{
    position: relative;
    cursor: pointer;
}
#notificationtoggle,.notificationtoggle{
    position: relative;
}
.notificationcount{
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 2px;
    background-color: red;
    font-size: 10px;
    aspect-ratio: 1/1;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.settingmenu{
    position: absolute;
    right: 15px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
 top: 100%;
user-select: none;
z-index: 2;
 opacity: 0;
    transform: translateY(-15px);
    transition: 0.3s ease all;
    pointer-events: none;

}

.settingmenu.active{
    opacity: 1;
    transform: translateY(0);
        pointer-events: all;

}
.settingmenu ul{ 
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.168);
    padding: 0;
    margin: 0;
    padding: 10px;
z-index: 2;
border-radius: 15px;
border: 1px solid rgba(0, 0, 0, 0.192);
overflow: hidden;
    background-color: var(--staticon);
}
.settingmenu li{
    opacity: 1;
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
    padding: 3px 10;
    border-radius: 5px;
}
.settingmenu li:hover{
  background-color: var(--bg);
}
.checkitem p {
  margin: 0;
  font-size: 15px;
}

.taskscontainer .checkitem input + p {
    color: var(--ptext);
  opacity: var(--sidebarliopacity); 
}
.taskscontainer .checkitem input:checked + p {
  color: #2b3674; 
  opacity: 1; 
  font-weight: bold;
}
.graphcontainer .body p{
    color: #a3aed0 !important;
font-size: 12px;
margin: 0;
}

.graphcontainer .body span{
    color: #05cd99;
font-size: 10px;
margin: 0;
font-weight: 500;
}


body{
    background-color: var(--bg);
}
.sidebar{
    padding: 0 0 20px 0;
    background-color: var(--sidebarbg);
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 250px;
    justify-content: space-between;
}
.sidebarcontainer{
    width: 270px;
}
.grayline{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.134);
}
.sidebar .imgcontainer{
    max-width: 80%;
    padding: 35px 25px 35px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .imgcontainer img{
width: 100%;
height: auto;
}
.sidebar ul {
    list-style: none;
    padding: 30px 0 30px 30px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: 100%;
}
.sidebar ul li{
    padding: 10px 0;
}
.lession .body {
    gap: 10px;
}
.notificationbarcontainer{ 
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.075);

    position: fixed;
    z-index: 50;
    right: 0;
    width: 500px;
    height: 100vh;
    border-radius: 30px 0 0 30px;
    transform: translateX(110%);
    background-color: var(--secondarybg);
    padding: 50px 70px;
    transition: 0.5s ease all;
    border: var(--thead-border-bottom);
}
.notificationbarcontainer.active{
    transform: translateX(0);
}
.notificationbar .body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
thead tr td:first-child,tbody tr td:first-child{
padding: 6px 0 0 30px !important;
}
.Dashboard .checktablee tbody tr td:first-child{
    white-space: pre;
}
.notificationbar .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
        color: var(--text);
}
.searchcontainer ul{
    display: flex;
    margin: 0;
    padding: 0;
align-items: center;
}
.searchcontainer ul li{
opacity: 1;
}
.searchcontainer ul li a{
    padding: 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease all;
}
.searchcontainer ul li a:hover{
        background-color: var(--bg);

}
.notificationbar .head p{
 font-weight: 500;
 font-size: 20px;
}
.notification{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 10px;
      transition: all 0.3s ease;
       opacity: 1;
  transform: translateY(0);
  height: auto;
color: var(--text);
}
.notification.neutral{
    background-color: var(--neutral-notification);
}
.notification.error{
    background-color: var(--error-notification);
}
.notification.successful{
    background-color: var(--successful-notification);
}
.notification.warning{
    background-color: var(--warning-notification);
}
.notification.hiding {
  opacity: 0;
  transform: translateY(-20px);

  overflow: hidden;
}

.notification .stat{
    background-color: var(--bgcomponent);
    padding: 5px;
    border-radius: 10px;
}
.notification .bi-x-lg,.notificationbarcontainer .close{
cursor: pointer;
}
.notification div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sidebar li{
    cursor: pointer;
}
.sidebar li a{
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: var(--sidebarliopacity);
    cursor: pointer;
}
.teamembers .members{
    margin-top: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
.sidebar ul .active a{
opacity: 1;
font-weight: 600;
border-right: var(--liactiveborder);
}
.sidebar .active i{

color: var(--liactiveicon);
}
.colormain{
    color: var(--maintext);
}
.section{
    display: none;
}
.section.active{
    display: flex;
    flex-direction: column;
}
#content{
    padding: 20px 20px 20px 50px;
    width: 100%;
    overflow-y: auto;
}
.section .sectionhead{
    width: 100%;
justify-content: space-between;
align-items: center;
}
table.dataTable thead > tr > td div.dt-column-header span.dt-column-title{
    flex-grow: inherit;
}
.sectiontitle h4{
    font-size: 30px;
}
table.dataTable td.dt-type-numeric div.dt-column-header{
    flex-direction: row !important;
}
table.dataTable td.dt-type-numeric{
    text-align: left;
}
.getpro{
    cursor: pointer;
    max-width: 100%;
}
.section .sectionhead p,.section .sectionhead h1{
margin: 0;
}
.section .sectionhead p{
    font-size: 13px;
}
.searchcontainer{
    background-color: var(--bgcomponent);
    padding: 0 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.searchcontainer img{
    max-height: 25px;
}
.inputcontainer input{
    border: none;
background-color: var(--bg);
height: 25px;
}
.inputcontainer input:active,.inputcontainer input:focus{
    outline: none;
}
.inputcontainer{
    background-color: var(--bg);
font-size: 12px;
    padding: 5px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.balancecontainer{
    background-color: var(--bg);
    padding: 5px 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    gap: 5px;
}

.nftmarketbannercontent{
    padding: 45px;
    height: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nftmarketbannercontent h4{
    font-size:  clamp(14px, 2vw + 10px, 25px);
}
.nftmarketbannercontent p{
overflow: inherit;
}
.starbucks .imgcontainer img{
    max-width: 100%;
    min-width: 100%;
}
.mobilesidebbar{
    display: none;
}
.clickable{
    position: relative;
}
.nftmarketbannercontent .buttoncontainer{
        font-size: 13px;
}
.nftmarketbannercontent .buttoncontainer button{
    border: none;
    background-color: inherit;
            font-weight: 500;
padding: 13px 20px;
}
.buttonwhitebg{
    border-radius: 15px;

}
.filter{
    padding: 5px 15px;
    color: var(--bid);
    font-weight: 400;
    cursor: pointer;
    font-size: 15px;
}
.filter.active{
    background-color: var(--bgcomponent);
    border-radius: 50px;
    padding: 5px 15px;
}
.nftscontainer .nft{
    background-color: var(--bgcomponent);
    padding: 25px 15px;
    border-radius: 18px;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.nftscontainer .nft img{
    max-width: 100%;
    border-radius: 16px;
    min-width: 100%;
}
.nft .bid{
color: var(--bid)!important;
}
.nftscontainer .nft p{
    margin: 0;
    color: var(--text);
}
.nftscontainer{
    height: 100%;
gap: 20px;
}
.nftscontainer .nft button{
    border: none;
    background-color: var(--bidbuttonbg);
    color: white;
    padding: 5px 15px;
    font-weight: 500;
    border-radius: 50px;
    font-size: 13px;
}
.History .nft p{
    font-size: 12px;
}
.textgray{
    color: var(--gray) !important;
}
.textgray div{
    color: var(--ptext) !important;

}
.inputs h3{
    font-size: 28px;
    font-weight: 700;
    color: var(--maintext);
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputs label{
    color: var(--maintext);
    font-size: 12px;
    font-weight: 500;
}
.inputs label sup{
    color: var(--indicatorcolor);
    font-weight: 500;
    font-size: 15px;
top: 1px;
}
.inputs input{
    padding: 10px 30px;
    border-radius: 10px;
    border: var(--inputs-border);
    background-color: var(--bgcomponent);
    color: var(--text);
}
.inputs input::placeholder{
  
   color:  var(--inputs-title);
}
.back a{
gap: 15px;
display: flex;
align-items: center;
transition: 0.3s ease all;
}
.back a:hover{
    gap: 25px;
}
.or{
    display: flex; 
    align-items: center;
    gap: 10px;
    font-size: 12px;
    margin: 10px 0;
}
.or::before{
    content: "";
    width: 50%;
    border-bottom: 1px solid #dee5f2;
}
.or::after{
    content: "";
    width: 50%;
    border-bottom: 1px solid #dee5f2;
}
.button{
    color: var(--bid);
    background-color: var(--buttonbg);
    padding: 5px 10px;
    border-radius: 25px;
    font-weight: 500;
}
.google{
    background-color: var(--staticon);
    border: none;
    color: var(--maintext);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}
.signinbutton{
        background-color: var(--indicatorcolor);
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 12px;
    margin-top: 15px;
    font-size: 12px;
}
.signin span{
    color: var(--bid);
    font-weight: 500;
    cursor: pointer;
}
.topcreators{
    background-color: var(--bgcomponent);
border-radius: 15px;
flex-grow: 1;
display: flex;
max-height: 550px;
flex-direction: column;
}
.topcreators .header{
    padding: 20px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
      box-shadow: 0 4px 40px rgba(0, 0, 0, 0.079);
}
.disabled{
    cursor: not-allowed;
    background-color: red;
}
.topcreators .header p{
margin-bottom: 5px;
}
.topcreators .body{
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    height: 100%;
    overflow-y: scroll;
}
/* stationary element */

.draggable{
    user-select: none;
    cursor: inherit;
}
.draggable img{
        user-select: none;
    cursor: pointer;
}
.hidden-ghost {
  opacity: 0 !important;
  visibility: hidden !important;
}

.topcreators .body p{
    color: #9faed0;
    margin: 0;
}
.topcreators .header p{
    color: #9faed0;
    font-weight: 500;
}
.creator{
    display: flex;
    align-items: center;
}
.creatorname{
    width: 50%;
    font-weight: 500;
    color: var(--maintext);
}
.rating{
    height: 10px;
    width: 20%;
    border-radius: 50px;
    background-color: var(--rating);
}
.rating .indicator{
    background-color: var(--indicatorcolor);
    height: 100%;
        border-radius: 50px;
}
.History{
background-color: var(--bgcomponent);
border-radius: 15px;
padding: 20px;
flex-grow: 1;
display: flex;
flex-direction: column;
gap: 10px;
height: 100%;
}
.History .body{
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.History .nft{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease all;
}

.History .nft p{
margin: 0;
white-space: pre;
}
.history .nft .imgcontainer{
    width: 50%;
}
.history .nft .imgcontainer img{
    min-width: 60px;
        max-width: 60px;

}
.History .nft:hover{
      box-shadow: 0 4px 40px rgba(0, 0, 0, 0.085);
      border-radius: 15px;
      
}
.member{
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.085);
padding: 15px;
border-radius: 15px;
width: 100%;
background-color: var(--transparent);
}
.member p{
    font-weight: 500;
    font-size: 12px;
}
.member h5{
    font-weight: 500;
    font-size: 15px;
}
.navv{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 30px;
    width: 100%;
}
footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: rgb(185, 185, 185);
    font-size: 12px;
    font-weight: 500;
}

footer ul{
    display: flex;
  flex-direction: row;
  width: auto;
  padding: 0;
  margin: 0;
}

.fav{
    position: absolute;
    top: 10px;
    display: flex;
    right: 10px;
 max-width: 20%;
 background-color: white;
 padding: 10px;
 border: 0;
 border-radius: 50px;
 align-items: center;
 justify-content: center;
 transition: 0.3s ease all;
 cursor: pointer;
 color: #7850fd;
}


.rotate::before{
transform: rotate(180deg);
}
thead{
    border-bottom: var(--thead-border-bottom);
}
tbody tr:first-child td:first-child {
padding: 20px 10px 0 30px !important;
}
tbody tr:first-child td {
padding: 20px 10px 0 10px !important;
}

thead td{
    color:#a3aed0 ;
font-weight: 500;
cursor: pointer;
}
.Dashboard tbody p{
    margin: 0;
}
.Tables tbody p{
    margin: 0;
    width: 40%;
}
.profileicon{
    cursor: pointer;
}
tbody td{
    color: var(--text);
    font-weight: 500;
}
table{
    margin-bottom: 15px;
}
.fav:hover{
  
 background-color: rgb(255, 184, 184);

}
.fav.active{
     background-color: rgb(255, 104, 104);
     color: white;

}

.nft .avatarscontainer img{
  min-width: inherit;
  min-height: inherit;
  height: 100%;
}
.moreavatars{
    background-color: #dfe6f2;
    border-radius: 100%;
    font-size: 10px;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: var(--horizontalborder);
    color: #4017fd;
    font-weight: bolder;
}
.stat-card{
    background-color: var(--bgcomponent);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.stat-card p{
  color: #a3aed0;
  font-weight: 500;
  margin: 0;
  font-size: 13px;
  white-space: pre-line;
}
.horizon{
    border: 1px solid #5a6efe; 
    padding: 20px 100px;
     border-radius: 30px;
}
.stat-card h5{
  font-weight: 700;
}
.stat-card i{ 
color: var(--liactiveicon);
background-color: var(--staticon);
padding: 15px;
font-size: 25px;
border-radius: 50px;
}
.stat-card.tasks i{ 
color: white;
background: linear-gradient(to right ,#4482eb ,#04befe);
padding: 15px;
font-size: 25px;
border-radius: 50px;
}

.stat-card span{ 
color: #33d6ac;
font-weight: bolder;
}
.dropdown button{
    border: 0;
    background-color: inherit;
}
.signin{
    overflow-x: hidden;
    background-color: var(--bgcomponent);
}
.signin .foot{
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgot{
    font-size: 12px ;
    color: var(--maintext);
}
.create{
    font-size: 12px;
    color: gray;
}
.signin .foot ul{
display: flex;
gap: 45px;
color: white;
}
.signin .foot ul li{
font-size: 12px;
opacity: 1;
}
.signin .foot ul li:hover{
text-decoration: underline;
}
.signin .dark{
    color: white;
background: linear-gradient(to right,#a3a0ff,#d5ccff00);
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 15px;
    border-radius: 50px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    transition: 0.2s ease all;
}
.signin .dark:hover{
background: linear-gradient(to right,#cccaff,#d5ccff34);
}
.signincontainer{
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    max-width: 500px;
    padding: 30px 0;
}
  .profilecomponent .body{
        gap: 20px;
    }
    .signincontainer .footer{
        font-size: 11px;
    }
@media (max-width: 1600px) {
       .google img{
        width: 20px;
    }

    .logcontainer .component{
        padding: 25px 25px 15px 25px;
    }
.History .nft{
    font-size: 12px;
    padding: 7px 20px;
}

.uploadimageinputcontainer{
    position: relative;
    display: flex;
    height:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    border: dashed 1px  #e1e8f4;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease all;
}
.nftscontainer .nft p {
font-size: 12px;
}


}
@media (max-width: 1500px) {
    table td{
        padding: 5px 10px 5px 10px;
    }
  .table h4{
    font-size: 20px;
  }
    tbody td,thead td{
        font-size: 12px;
    }
    .uploadimageinputcontainer{
        max-height: 80%;
    }
    .profilecomponent .info{
        padding: 20px;
    }
    .signin img{
        width: 50%;
    }
    .fingerprint button{
        padding: 5px;
        font-size: 12px;
        border-radius: 8px;
    }
    .member{
        padding: 10px;
    }
    .member h5{
        font-size: 13px;
    }
    .member p{
        font-size: 10px;
    }
    .member img{
        width: 20%;
    }
    .lession h5{
        font-size: 16px;
    }
    .lession h4{
        font-size: 18px;
    }
    .fingerprint h3,.starbucks .logocontainer h5{
        font-size: 20px;
    }
    .lession .body button{
        padding: 10px 15px;
    }
    .dropdown img{
        max-width: 80%;
    }
.nftscontainer .nft{
    font-size: 11px;
}
.History{
    gap: 0px;
}

.History .nft{
    font-size: 10px;
    padding: 5px;
    margin-top: 5px;
}

.creatorname{
    font-size: 12px;
}
.topcreators .header,.w-25{
    font-size: 10px;
}
.rating{
    height: 5px;
}
   .History .imgcontainer img{
        width: 60px;
    }
}


@media (max-width: 1300px) {
    
        .imgcontainer p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 85%; /* ensure it knows its limit */
}

    .creatorname img{
        max-width: 20px;
        max-height: 20px;
    }
    .nftmarketbannercontent h4{
        font-size: 20px;
    }
    .nftmarketbannercontent .buttoncontainer button {
    padding: 10px 15px;
    }
    .fav{
    position: absolute;
    top: 10px;
    display: flex;
    right: 10px;
 max-width: 15%;
}
    .filter{
        font-size: 11px;
    }
.nftscontainer .nft{
    padding: 15px 10px;
}
.nftscontainer .nft p {
font-size: 9px;
}
.nftscontainer .nft button{
    font-size: 8px;
}
.creatorname{
    font-size: 10px;
}
   .History .imgcontainer img{
        width: 55px;
    }

    
}

@media (max-width : 1200px) {
    .navv{
 font-size: 15px !important;
 gap: 25px;
}
    .imgcontainer p{
     max-width: inherit;
    }
    .creatorname{
    font-size: 15px;
}
      .fingerprint{
    padding: 20px;
  }
    .members{
        gap: 10px;
    }
    .teamembers  h5{
        font-size: 15px !important;
    }
.member{
    padding:10px !important;
}
  .fingerprint h3{
    font-size: 15px !important;
  }
    #content{
        padding: 20px;
        margin-left: 20px;
    }
    .mobilesidebbar{
              box-shadow: 0 4px 20px rgba(0, 0, 0, 0.074);
           padding: 25px;
    background-color: var(--sidebarbg);
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50px;
    justify-content: space-between;
    color: var(--text);
    font-size: 35px;
    z-index: 4;
    }
    .sidebarcontainer{
        width: 50px !important;
    }
.sidebar{
    width: 250px !important;
transform: translateX(-260px);
transition: 0.3s ease all;
z-index: 5;
}
.sidebar.active{
    transform: translateX(0px);

}
 .filter{
    font-size: 10px;
 }
  .nftscontainer h5{
    font-size: 15px;
  }
    .horizontal{
        max-width: 70px !important;
    }
 
    .sidebarcontainer{
        width: 220px;
    }
       .History .imgcontainer img{
        width: 60px;
    }
    .History .nft{
        padding: 15px;
    }
    .imgcontainer p{
        font-size: 12px;
    }
}

@media (max-width : 1100px) {
  
 
    .History .nft{
        font-size: 7px;
    }
    .nftscontainer .nft p{
font-size: 8px;
    }
 
    .horizontal{
        max-width: 50px !important;
    }
}


@media (max-width : 1060px) {

 .nftscontainer .nft button{
    font-size: 6px;
 }
    .horizontal{
        max-width: 50px !important;
    }
}

@media (max-width : 1366px){
    .topcreators{
        max-height: 400px;
    }
      .filter{
        font-size: 12px;
    }
.nftscontainer .nft{
    padding: 15px 10px;
}
.nftscontainer .nft p {
font-size: 11px;
}
.nftscontainer .nft button{
    font-size: 10px;
}

.History .header{
    font-size: 12px;
}
   .History .imgcontainer img{
        width: 60px;
    }

 

    .profilecomponent p{
        font-size: 8px;
    }
    .uploadimageinputcontainer h3{
        font-size: 15px;
    }
    .uploadimageinputcontainer i{
        font-size: 30px;
    }
 .sidebar ul{
    font-size: 10px;
 }
    .forgot,.create{
        font-size: 12px;
    }
    .signin .dark{
        bottom: 25px;
        right: 25px;
    }
    .signin .foot{
        bottom: 10px;
    }
    .signingrightside{
    border-radius: 0 0px 0px 200px;
    background-size: cover;
}
    .inputs label{
        font-size: 13px;
    }
    .or{
        margin: 0 0 10px 0;
    }
    .inputs {
        gap: 5px;
    }
    .inputs input{
        padding: 8px 30px;
        border-radius: 10px;
        font-size: 12px;
    }
    .google,.signinbutton{
        font-size: 12px;
        padding: 10px;
    }
 .inputs h3{
    font-size: 20px;
 }
 
    .signincontainer .footer, .signincontainer .back{
        font-size: 10px;
    }
    .google img{
        width: 10px;
    }
    .horizon{
padding: 20px 50px;
    }
       .horizon p{
        font-size: 15px;
    }
    .horizon h3{
        font-size: 20px;
    }
    .uploadimageinputcontainer{
        max-height: 80%;
    }
    .profilecomponent{
        padding: 15px;
    }
    .logcontainer .component{
        padding: 25px 25px 15px 25px;
    }
    .horizontalavatars img{
        height: 25px !important;
     
    }
    .nftscontainer .nft{
        padding: 10px;
    }
    .nft .avatarscontainer img{

max-height: 25px;   
max-width: 25px;
}
.moreavatars{
    width: 25px;
    height: 25px;
    font-size: 7px;
}
    .sidebarcontainer{
        width: 200px;
    }
    .sidebar{
        width: 200px;
    }
    .profilecomponent .project{
        padding: 15px;
    }

    .secondrow .profilecomponent{
        gap: 10px;
    }
    .profilecomponent .info{
        padding: 20px 15px;
        margin-bottom: 10px;
    }
    .profilecomponent .info h6{
        font-size: 11px;
    }
    .profilecomponent .body{
        gap: 10px;
        height: 100%;
        justify-content: center;
    }
    .notificationoption{
        font-size: 10px;
    }
    .profilecomponent h5{
        font-size: 14px;
    }
    .profilecomponent h4{
        font-size: 14px;
    }
    .profilecomponent p{
        font-size: 10px;
    }
    .profilecomponent .status{
    border: 0;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #4017fd;
    color: white;
    font-size: 12px;
}
    .logcontainer{
        gap: 20px;
    }
    .stat-card h5{
        font-size: 15px;
    }
    .logcontainer .component .status{
        padding: 5px 15px;
        font-size: 10px;
    }
    .logcontainer p{
        font-size: 10px;
    }
        .stat-card p{
        font-size: 11px;
    }
         .stat-card i{
        font-size: 13px;
        padding: 10px;
    }
    .stat-card.tasks i {
    padding: 10px;
    font-size: 20px;
    }
    .dropdown img{
        max-width: 70%;
    }
  .graphcontainer .header p{
    font-size: 12px;
    padding: 8px 10px 8px 3px;
  }
  .graphcontainer h2,.Revenue h1{
    font-size: 25px;
  }
  .checkitem p{
    font-size: 12px;
    margin: 0;
  }
  .checkitem{
    margin-bottom: 8px;
  }
  #myPieChart{
    max-height: 130px;
  }
  .piechart{
    justify-content: space-between;
  }
  #calendar{
    padding: 0px 35px;
  }
  .calendar {
    padding:  10px 25px;
  }
  .fingerprint{
    padding: 20px;
    gap: 15px;
  }
  .fingerprint img{
    max-width: 50px;
  }
    .fingerprint h3{
font-size: 20px;
  }
  .fingerprint p{
    font-size:12px  ;
    font-weight: 500;
    white-space: inherit;
}
.member h5{
    font-size: 12px;
}
.member p{
    font-size: 8px;
}
.member{
    padding: 10px;
    width: 100%;
}
.lession h5{
    font-size: 15px;
}
.lession h4{
    font-size: 14px;
}
.lession .body{
    font-size: 12px;
}
.lession .body button{
    padding: 5px 15px;
}
.fingerprint button{
    padding: 10px;
    font-weight: 500;
}
.starbucks .imgcontainer img{
    max-width: 100%;
}
.teamembers .members{
    margin-top: 10px;
}
.starbucks .iconcontainer{
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 15px;
  background: rgba(255, 255, 255, 0.182); /* semi-transparent white */
  backdrop-filter: blur(5px) saturate(100%);
  -webkit-backdrop-filter: blur(5px) saturate(1000%);
    border-radius: 15px;
    color: white;
}
.starbucks .logocontainer h5{
    font-size: 20px;
}
.starbucks .logocontainer p{
    font-size: 12px;
}
.teamembers img{
    max-width: 25%;
}
}
@media (max-width : 992px) {
    .notificationbarcontainer{ 
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.075);

    position: fixed;
    z-index: 50;
    right: 0;
    width: 100vw;
    height: 90vh;
    bottom: 0;
    border-radius: 30px 30px 0 0px;
    transform: translateX(0) translateY(100%);
    padding: 40;
    transition: 0.5s ease all;
}
.notificationbarcontainer.active{
    transform: translateX(0) translateY(0);
}

    .h-lg-100{
        max-height: 50%;
    }
    .uploadimageinputcontainer{
        width: 100%;
        max-height: 100%;
        padding: 20px;
    }
    .rating{
        height: 8px;
    }
    .w-25{
        font-size: 15px;
    }
    .History .nft{
        font-size: 15px;
    }
    .nft .avatarscontainer img{
        max-width: 35px;
        max-height: 35px;
        height: 35px;
        width: 35px;
    }
        .nftscontainer .nft p{
font-size: 16px;
    }
   .nftscontainer .nft p.textgray{
font-size: 13px;
    }
      .nftscontainer .nft p.bid{
font-size: 13px;
    }
    .nftscontainer .nft button{
        font-size: 13px;
    }
#myPieChart{
    max-height: 200px;
}
.starbucks .imgcontainer img{
    max-height: 150px;
    object-fit: cover;
    border-radius: 15px;
}
.signincontainer{
width: 100%;
}
.inputs h3{
    font-size: 40px;
}
.inputs p{
    font-size: 20px;
}
.google,.inputs label,.signinbutton,.signincontainer  .back{
    font-size: 20px;
}
.google img{
    width: 30px;
}
.or{
    margin: 10px 0 10px 0;
    font-size: 20px;
}
.inputs input{
    font-size: 20px;
    padding: 30px;
    border: 1px solid rgba(181, 181, 181, 0.538);
}
.inputs input::placeholder{
 color: rgba(128, 128, 128, 0.616);
}
.inputs label sup{
    font-size: 25px;
}
.signincontainer .footer{
font-size: 15px ;
}
.stat-card i{
    font-size: 25px;
}
.stat-card p{
    font-size: 12px;
}
.stat-card h5{
    font-size: 20px;
}
.graphcontainer .header p,.fingerprint p,.starbucks .logocontainer p{
    font-size: 15px;
}
.headericon,.checktable .header i,.taskscontainer .header i,.teamembers .header i,.Revenue .header i{
font-size: 25px;
}
.searchcontainer{
    width: 100%;
    justify-content: space-between;
}
.searchcontainer img{
    max-height: 40px;
    height: 40px;
}
.nftscontainer h5{
    font-weight: 500;
    font-size: 20px;
}
.filter{
    font-size: 15px;
    font-weight: 500;
}
 .searchcontainer i{
    font-size: 20px;
}
.sectiontitle{
    width: 100%;
}
.NFTMarketplace .searchcontainer i{
    font-size: 15px;
}
.balancecontainer {
    font-size: 13px;
}
.inputcontainer{
    font-size: 15px;
    padding: 10px;
    flex-grow: 1;
}
.inputcontainer input{
    font-size: 15px;
      flex-grow: 1;
}
.sectionhead  h4{
    font-size: 30px;
}

.balancecontainer img{
    max-width: 35px;
    height: auto;
}
.section .sectionhead{
    flex-direction: column; 
    gap: 20px;
margin-bottom: 20px;
}
.section .sectionhead p{
    font-size: 15px;
}
.mobilesidebbar{
    width: 100px;
    font-size: 45px;
}
.sidebarcontainer{
    width: 100px !important;
}
.graphcontainer h2, .Revenue p{
    font-size: 35px;
}
.starbucks .logocontainer h5{
    font-size: 25px !important;
}
.piechart .gap-5 div,.lession h5{
    font-size: 20px;
}
.piechart .header .textgray{
    font-size: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titles p{
    font-size: 18px;
}
.titles .checkitem{
    font-size: 18px;
}
.taskscontainer .header{
    font-size: 25px;
}
.checkitem p,.lession p,.lession h4{
    font-size: 18px !important;
}
.dailytraffic{
    font-size: 20px;
}
.lession .body{
    font-size: 18px;
    gap: 20px;
}
.lession,.member p{
    gap: 20px !important;
}
.teamembers .member h5,.sidebar ul{
    font-size: 15px !important;
    white-space: nowrap;
}
.profilecomponent .info{
    padding: 15px 10px;
flex-grow: 1;
}
.profilecomponent .project .body h6{
    font-size: 16px;
}
.profilecomponent p{
    font-size: 12px;
}
.profilecomponent h4{
    font-size: 25px;
}
.teamembers img{
    max-width: 50PX;
    width: 40%;
}
.member p{
    font-size: 14px;
}
.member{
padding: 15px !important;
}
.fingerprint h3{
    font-size: 20px !important;
}
.sidebar{
    width: 50vw !important;
    transform: translateX(-110%);
}
.getpro{
    max-width: 60%;
}
.sidebar ul{
padding: 30px 0 0px 80px;}
.teamembers h5{
  font-size:   calc(1.375rem + 0.5vw) !important;
}
}
                                      /* mobile screens                                              */

                                      
@media (max-width: 576px) {
    .google img{
        width: 15px;
    }
    .forgot, .create, .inputs p{
        font-size: 10px;
    }
    .signincontainer .footer{
        font-size: 10px;
        text-align: center;
    }
    .inputs input{
        padding: 10px 20px;
        font-size: 12px;
    }
    .google, .inputs label, .signinbutton, .signincontainer .back{
        font-size: 15px;
    }
    .inputs h3{
        font-size: 30px;
    }

.signincontainer{
    max-width: 250px;
}
.or{
    font-size: 12px;
}
    table{
        overflow-x: scroll;
        max-width: 100%;
    }
    .titles .checkitem{
        font-size: 10px !important;
        gap: 2px;
    }
    .checkitem p{
        font-size: 10px !important;
    }
.titles p{
    font-size: 8px;
}
    .graphcontainer h2, .Revenue p{
    font-size: 25px;
}

.sidebar{
    width: 80vw !important;
    transform: translateX(-110%);
}
.getpro{
    max-width: 70%;
}
.sidebarcontainer{
    width: 40px !important;
}
.mobilesidebbar{
    width: 50px;
    font-size: 30px;
}
.inputcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputcontainer input{
    display: none;
}
.graphcontainer .body{
    width: 100%;
}
#Dashboard{
    width: 100%;
    max-width: 100%;
}
.table-responsive{
 
    overflow: scroll;
}
table tr{
    align-items: center;
}

.rating{
    width: 100% !important;
}
tbody p{
    width: 100%;
}
.checktabledashoardcontainer{
    overflow-x: scroll;
}
.checktabledashoardcontainer .w-100{
    width: inherit !important;
}
.checktabledashoardcontainer .column{
  width: 100% !important;
}
.checktabledashoardcontainer .column p{
white-space: pre;
width: 100%;
overflow: inherit;
text-overflow: inherit;
}
.checktabledashoardcontainer .body{
    width: 100% !important;
}
.titles{
    gap: 10px;
}
.titles p{
    text-overflow: inherit;
}
sub{
    bottom: 12px !important;
    font-size: 12px;
}
.piechart .header .textgray{
    font-size: 10px !important;
}.piechart .gap-5 div{
    font-size: 10px;
}
.member p{
    font-size: 10px;
}
.fingerprint p{
    font-size: 12px;
}
.fingerprint{
gap: 12px !important;
}
.lession .body{
    font-size: 13px;
}
.lession h5{
    font-size: 14px !important;
}
.lession p{
    font-size: 12px !important;
}
.moreavatars{
    width: 30px;
    height: 30px;
}
table td{
    padding: 10px 50px 5px 10px;
    font-size: 15px;
    white-space: pre;
}
.nftmarketbannercontent{
    padding: 20px;
}
.balancecontainer{
    font-size: 10px;
}
.nftmarketbannercontent p{
    font-size: 13px;
    display: flex;
    text-align: left;
    max-width: 100%;
}
.buttoncontainer{
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.filter{
    font-size: 10px;
}
.topcreators .w-50,.topcreators .w-25{
    font-size: 12px;
}
.creator{
    gap: 20px;
}
.creatorname{
    display: flex;
    width: 50%;
    min-width: 50%;
    gap: 5px;
}
.History .nft{
    font-size: 12px;
}
.History .nft .imgcontainer{
  width: 100% !important;
}
.History .nft p{
    white-space: pre;
}
footer{
    flex-direction: column;
    gap: 10px;
}
footer ul{
justify-content: space-between;
width: 100%;
}
.History .nft{
    padding: 15px 15px 15px 5px;
}
.profilecomponent h4{
    font-size: 15px;
}
.profilepageicon{
    max-width: 20%;
    margin-top: -25px !important;
}
.profilecomponent{
    padding: 20px;
}
.teamembers img{
    max-width: 40px;
    max-height: 40px;
}
}

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    display: none !important;
    margin: 0;
    padding: 0;
}
